$fontSize: 14px;
$width:250px;
.card_list {
  font-size: 0;
  text-align: center;
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card_item {
  flex-basis: $width;
  vertical-align: top;
  width: $width;
  height: 190px;
  font-size: $fontSize;
  font-weight: 700;
  line-height: 1.35;
  border-radius: 20px;
  background: #e5edff;
  text-align: center;
  padding: 20px;
  margin: 0 10px 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
  &__row {
    margin: 0 0 15px;
  }
  &__label {
    font-size: $fontSize;
    color: rgb(141, 138, 138);
    margin: 0 0 3px;
  }
}

.card_item:hover {
  transform: scale(1.03);
}